.blog-card {
  align-content: center;
  align-items: center;
  width: 15rem;
  height: 25rem;
  background-color: white;
  transition: transform 0.5 s;
  border-radius: 5%;
  margin: 20px 30px 0 30px;
  img {
    border-radius: 5% 5% 0 0;
    object-fit: cover;
    width: 100%;
    height: 60%;
  }

  h3 {
    font-size: x-large;
    position: center;
    padding-left: 7%;
    padding-top: 3%;
    font-weight: lighter;
  }

  p {
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 5%;
    color: $light-grey;
  }
}
.blog-card:hover {
  transform: scale(1.05);
}
