.container-x {
    background-color: rgb(223, 72, 72);
    grid-area: container-x;
    // margin-top: 0.5rem;
    position: relative;
    display: inline-block;
    width: 100%;
    
  }
  
  .container-x img {
    max-width: 100%;
    object-fit: cover;
  }
  .container-2 {
    background-color: rgb(248, 248, 248);
    grid-area: container-2;
    margin-top: 0.5rem;
    position: relative;
    display: inline-block;
    width: 100%;
    object-fit: cover;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .centered-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: xx-large;
    }
  }

  .container-3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $silvercloud;
    grid-area: blog-card;
    align-content: space-around;


  }

  .grid-item1 {
    grid-area: grid-item1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    img {
        object-fit: cover;
        width: 100%;
      }
  }
  
  
  
  .grid-item2 {
    grid-area: grid-item2;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    img {
        object-fit: cover;
        width: 100%;
      }
  }
  

  
  .grid-item2-block {
    display: flex;
    flex-direction: row;
    img {
        width: 40%;
      }
  }
  
  
  
  .grid-item2-block-text {
    font-size: xx-large;
    display: block;
    background-color: $blue-minhaus;
    height: auto;
    width: 60%;
     object-fit: cover; 
    display: flex;
    align-items: center;
    text-align: center;
  
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        text-align: center;
      
        justify-content: center;
        color: $white;
        background-color: var(--blue-minhaus);
        font-size: large;
        text-decoration: none;
        text-align: center;
      }
  }

 