 
 
 *{margin: 0; 
 padding: 0;
box-sizing: border-box;
 font-family: "Space Grotesk", sans-serif;
 }


$blue-minhaus: #0e5895;
$light-grey: #7a7d7d;
$white: #ffffff;
$bone: #d7ceb2;
$silverchalice: #a2abab;
$silvercloud: #ececec;
$sm: 12px;
$md: 16px;