
/*Desktop grid*/


.index-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 15rem auto auto auto 15rem;
    grid-template-rows: 40rem 25rem auto 30rem 15rem;
    grid-template-areas:
      "container-x container-x container-x container-x container-x"
      "container-2 container-2 container-2  container-2 container-2"
      "grid-item1 grid-item1 grid-item1 grid-item2 grid-item2 "
      "blog-card blog-card blog-card  blog-card blog-card"
      "footer footer footer footer footer";
   
      @include responsive {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "container-x container-x "
      "container-2 container-2 "
      "grid-item1 grid-item1 "
      "grid-item2 grid-item2 "
      "blog-card blog-card "
      "footer footer";
   }
      
        
      
  }

  